<form action="/favourites" method="POST">
          <input type="submit" value="Go to Favorite List" class="w-full bg-green-600 cursor-pointer hover:bg-green-700 text-white font-semibold py-2 rounded-lg transition-all duration-200">
          <input type="hidden" name="id" value="<%= home._id %>">
        </form>