<%- include('partials/head') %>
</head>
<body class="flex items-center justify-center min-h-screen bg-[#11121a] text-white"
      style="grid-template-columns: unset !important;">
  <div class="text-center leading-2.5 border-2 shadow-cyan-50/50 shadow-md p-10 rounded-2xl mb-3">
    <h1 class="text-sm md:text-3xl mb-6 font-cursive">Error 404, Your page doesn't exist on Airbnd! <span class="hidden md:inline">😒</span></h1>
    <a href="/" class="inline-block px-6 py-3 rounded-md bg-blue-500 hover:bg-blue-600 transition-colors">
       Go to Home
    </a>
  </div>
</body>


</html>
